/* BASE */
body {
  margin: 0px;
  font-family: "Zen Dots", cursive;
  background-color: #1D1E18; }

/* LAYOUT */
header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../../imgs/fond_competences_web.jpg"); }

.top {
  position: relative;
  width: 375px;
  padding: 5px; }
  .top__title {
    height: 69px;
    width: 222px;
    border-radius: 0px;
    background-color: rgba(29, 30, 24, 0.8);
    border: 1px solid #FFFC31;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .top__title_name {
    font-size: 1.3rem;
    text-align: center;
    color: #EEF0F2; }
  .top__photo {
    width: 100%;
    margin: 0px;
    display: flex; }
  .top__my_photo {
    position: relative;
    bottom: 15px;
    left: 120px;
    width: 220px;
    border-radius: 70px;
    border: 2px solid #EEF0F2; }
  .top__competence-list {
    list-style-type: none;
    font-size: 0.8rem;
    position: relative;
    left: 20px;
    margin: 10px -130px 50px 0px;
    color: #EEF0F2;
    background-color: rgba(29, 30, 24, 0.8);
    border: 1px solid #FFFC31;
    padding: 10px 60px 10px 10px; }

.presentation {
  display: flex;
  width: 100%;
  color: #EEF0F2; }
  .presentation__frame {
    margin: -30px 15px 0px 15px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    width: 100%;
    height: 150px;
    background-color: rgba(29, 30, 24, 0.8);
    border: 1px solid #FFFC31;
    padding: 20px; }
  .presentation__btn-text {
    display: flex;
    justify-content: flex-end; }
  .presentation__post-text {
    position: relative;
    bottom: 15px;
    padding: 15px 0px 0px 0px; }
  .presentation__my-text {
    position: relative;
    bottom: 15px;
    background-color: #1D1E18;
    border: 1px solid #FFFC31;
    padding: 10px; }

@media screen and (min-width: 768px) {
  .top {
    width: 100%; }
    .top__photo {
      justify-content: center;
      align-items: center; }
    .top__competence-list {
      font-size: 1rem;
      margin: 50px 0px 50px 0px; }
    .top__my_photo {
      bottom: 0;
      left: 0; }
  .presentation {
    justify-content: center; }
    .presentation__frame {
      width: 600px; }
    .presentation__post-text {
      bottom: 0;
      padding: 15px; } }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../imgs/projets.jpeg);
  background-size: cover; }
  .main__carousel1 {
    top: 100px;
    width: 450px;
    height: 800px;
    margin: 100px; }
  .main__carousel {
    position: relative;
    bottom: 350px;
    height: 100px;
    margin: 15px; }

.carousel-text-title {
  color: #EEF0F2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px; }

@media screen and (min-width: 768px) {
  .main__carousel {
    display: none; } }

@media screen and (max-width: 767px) {
  .main__carousel1 {
    display: none; } }

.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../imgs/social-media4.jpg);
  background-position: center;
  background-size: contain; }
  .bottom__networks {
    position: relative;
    bottom: 50px;
    background-color: rgba(29, 30, 24, 0.9);
    color: #EEF0F2;
    display: flex;
    justify-content: space-around;
    border: 1px solid #FFFC31;
    padding: 5px;
    width: 200px;
    list-style-type: none;
    margin-bottom: -30px; }

.my-btn, .btn-competence, .btn-projects, .btn-projects-mini, .btn-contact {
  background-color: rgba(29, 30, 24, 0.8);
  color: #EEF0F2;
  text-align: center;
  border: 1px solid #FFFC31;
  border-radius: 10px 0;
  font-size: 1.2rem; }
  .my-btn:hover, .btn-competence:hover, .btn-projects:hover, .btn-projects-mini:hover, .btn-contact:hover {
    background-color: #FFFC31;
    color: #1D1E18; }

.btn-competence {
  height: 20px;
  font-size: 0.6rem;
  position: relative;
  bottom: 20px; }

.btn-projects {
  margin: 140px 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

.btn-projects-mini {
  position: relative;
  top: 10px;
  right: 30px;
  margin: 0;
  width: 50px;
  height: 50px;
  font-size: 0.5rem; }

.btn-contact {
  width: 350px;
  margin: 15px; }

.btn-read-more {
  font-size: 0.7rem;
  background-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  border: none;
  color: #EEF0F2;
  margin: 0; }
  .btn-read-more:hover {
    font-size: 0.8rem;
    color: #FFFC31; }

@media screen and (min-width: 768px) {
  .btn-competence {
    height: 40px;
    font-size: 1rem;
    bottom: 0px;
    top: 0px;
    margin: 50px; }
  .main__button {
    display: none; } }

.nav-btn {
  border: none;
  background-color: rgba(50, 50, 50, 0); }

/* RESPONSIVE */
