$color-primary: #1D1E18;
$color-second: #EEF0F2;
$color-third: #FFFC31;
$font-family: 'Zen Dots', cursive;

body {
    margin: 0px;
    width: 100%;
    font-family: $font-family;
    background-color: $color-primary;
}