$color-primary: #1D1E18;
$color-second: #EEF0F2;
$color-third: #FFFC31;
$font-family: 'Zen Dots', cursive;

body {
    margin: 0px;
    font-family: $font-family;
    background-color: $color-primary;
}

.global {
    width: 100%;
    margin: 0;
}

@import 'libs/responsive.scss';

@media #{$big} {
    .global {
        margin: 0;
        display: flex;
    }
}