footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../imgs/social-media4.jpg);
    background-position: center;
    background-size: contain;
    
}
