.bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../../imgs/social-mediaori.jpg);
    background-position: center;
    background-size: contain;
    
    &__networks {
        position: relative;
        bottom: 50px;
        background-color: rgba($color-primary,0.9);
        color: $color-second;
        display: flex;
        justify-content: space-around;
        border: 1px solid $color-third;
        padding: 5px;
        width: 200px;
        list-style-type: none;
        margin-bottom: -30px;
    }
}


