@import '../libs/responsive.scss';

.my-forms {
    width: 100%;
}

.my-forms-frame {
    margin: 15px 0;
    padding: 15px;
    color: $color-second;
    background-color: rgba($color-primary,0.8);
    border: 1px solid $color-third;
    width: 100%;
}

@media #{$smart} {
    .my-forms {
        display: none;
    }
}