@import '../libs/responsive.scss';

.my-forms {
    height: 360px;
    width: 100%;
    background-image: url(../../imgs/projets.jpeg);
}

.my-forms-frame {
    padding: 15px;
    color: $color-second;
    background-color: rgba($color-primary,0.8);
    border: 1px solid $color-third;
    width: 100%;
}

@media #{$smart} {
    .my-forms {
        display: none;
    }
}