header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../../imgs/video-head.mp4");
    // background-color: green;
}

.top {
    position: relative;
    width: 375px;
    padding: 5px;

    &__title {
        height: 69px;
        width: 222px;
        border-radius: 0px;
        background-color: rgba($color-primary, 0.8);
        border: 1px solid $color-third;
        margin-top: 10px;
        margin-left: 10px;
    }

    &__title_name {
        font-size: 1.3rem;
        text-align: center;
        color: $color-second;
    }

    &__photo {
        position: relative;
        bottom: 10px;
        left: 120px;
        width: 220px;
        margin: 0px;
    }

    &__my_photo {
        width: 100%;
        border-radius: 70px;
        border: 2px solid $color-second;
    }

    &__competence {
        position: relative;
        left: 70px;
        bottom: 30px;
        text-align: center;
        color: $color-second;
        background-color: rgba($color-primary, 0.8);
        border: 1px solid $color-third;
    }
}

.presentation {
    display: flex;
    width: 100%;
    color: $color-second;

    &__frame {
        margin: -50px 15px 0px 15px;
        font-size: 0.55rem;
        width: 100%;
        height: 116px;
        border-radius: 0px;
        background-color: rgba($color-primary, 0.8);
        border: 1px solid $color-third;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
    }
}




 