header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: green;
}

.title {
    position: absolute;
    height: 69px;
    width: 222px;
    left: 12px;
    top: 9px;
    border-radius: 0px;
    background-color: $color-primary;
    border: 1px solid $color-third;
    margin-top: 10px;
    margin-left: 10px;
}

.title__name {
    font-size: 1.3rem;
    text-align: center;
    color: $color-second;
}

.my_photo {
    position: absolute;
    left: 150px;
    top: 65px;
    width: 220px;
    margin: 0px;
    border-radius: 50px;
}

.presentation {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_presentation {
    margin: 215px 15px 15px 15px;
    font-size: 0.55rem;
    height: 116px;
    // width: 100%;
    border-radius: 0px;
    background-color: $color-primary;
    border: 1px solid $color-third;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.my_presentation__text {
    color: $color-second;
}
