main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../imgs/projets.jpeg);
    background-size: cover;
    // background-color: blue;
}

.projects {
    font-size: 0.6rem;
    margin: 70px 20px;
    width: 100px;
    height: 100px;
    border: 2px solid $color-third;   
    border-radius: 50px;
    text-align: center;
    color: $color-second;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color-primary, 0.9);
    // opacity: 0.2;
}